// Define variables for your color scheme

// For example:
$red: #E71D36;
$blue: #011627;
$yellow: #FDB631;
$orange: #FF9F1C;
$green: #2EC4B6;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #999999;
$white: #ffffff;
